<table
  align="center"
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  style="padding: 0px 35px 25px 35px"
>
  <tbody>
    <tr>
      <td>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;"
        >
          Dear
          {{name}},
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;margin-bottom:24px"
        >
          This is to inform you that the following item has been marked as out
          of stock on your online menu:
        </p>
        <div style="margin-bottom: 20px;">
          <p
            style="font-size:14px;line-height:20px;margin:0 0 10px 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;font-weight:bold;"
          >
            Item Name:
            {{itemName}}
          </p>
        </div>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0;color:#222222;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;margin-bottom:24px"
        >
          Quick Actions:
        </p>
        <ul
          style="margin:24px 0;padding-left:20px;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;font-size:14px;line-height:24px"
        >
          <li>Restock and update inventory</li>
          <li>Mark item as available</li>
          <li>Temporarily hide item from menu</li>
        </ul>
        <a
          href="restaurant.choosepos.com/menu/menu-builder/menu"
          style="
            line-height: 100%;
            text-decoration: none;
            display: block;
            max-width: 100%;
            mso-padding-alt: 0px;
            background-color: #2947C2;
            border-radius: 5px;
            font-weight: 600;
            color: #ffffff;
            font-size: 15px;
            text-align: center;
            padding: 11px 23px 11px 23px;
            margin:24px 0;
          "
          target="_blank"
        >
          <span
            style="
              max-width: 100%;
              display: inline-block;
              line-height: 120%;
              mso-padding-alt: 0px;
              mso-text-raise: 8.25px;
              font-size: 12px;
              font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            "
          >
            Manage Your Inventory
          </span>
        </a>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#222222;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;"
        >
          Best regards,
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:0 0 24px 0;color:#222222;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;font-weight:bold;"
        >
          Choose Team
        </p>
      </td>
    </tr>
  </tbody>
</table>