<table
  align="center"
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  style="padding: 0px 35px 25px 35px"
>
  <tbody>
    <tr>
      <td>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;"
        >
          Hello
          {{ownerName}},
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;margin-bottom:24px"
        >
          Great news! Your restaurant details for
          {{restaurantName}}
          have been successfully added to Choose.
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;margin-bottom:24px"
        >
          We'll notify you as soon as your account verification is complete.
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif"
        >
          Please do not reply directly to this message. For any concerns, simply
          email us at
          <a
            href="mailto:support@choosepos.com"
            style="color:#2947C2;text-decoration-line:none;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;text-decoration:underline"
            target="_blank"
          >support@choosepos.com</a>.
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;"
        >
          Best regards,<br />
          Choose Team
        </p>
      </td>
    </tr>
  </tbody>
</table>