<table
  align="center"
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  style="padding: 0px 35px 25px 35px"
>
  <tbody>
    <tr>
      <td>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;"
        >
          Hello
          {{restaurantName}}
          team,
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;margin-bottom:24px"
        >
          Great news! Your Square POS has been successfully connected with
          Choose. Your system is now ready for seamless operations:
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;"
        >
          <ul
            style="font-size:14px;line-height:24px;margin:8px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;"
          >
            <li style="margin-bottom: 8px">Your menu items and pricing can now
              be pulled from Square</li>
            <li style="margin-bottom: 8px">You can now enable online ordering to
              start receiving orders</li>
            <li style="margin-bottom: 8px">All orders will be directly sent to
              your Square POS</li>
          </ul>
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;"
        >
          Need any help setting up your online ordering? Our support team is
          ready to assist at
          <a
            href="mailto:support@choosepos.com"
            style="color:#2947C2;text-decoration-line:none;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;text-decoration:underline"
            target="_blank"
          >support@choosepos.com</a>.
        </p>
        <p
          style="font-size:14px;line-height:24px;margin:24px 0 0 0;color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;"
        >
          Best regards,<br />Choose Team
        </p>
        <p
          style="font-size:14px; font-style: italic;line-height:24px;margin:24px 0 0 0;color: #6f6f6f;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;"
        >
          P.S. Welcome to a more streamlined ordering experience!
        </p>
      </td>
    </tr>
  </tbody>
</table>