<table
  align="center"
  width="100%"
  border="0"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  style="padding: 0px 12px 25px 12px"
>
  <tbody>
    <tr>
      <td>
        <p
          style="font-size: 14px; line-height: 24px; margin: 24px 0 0 0; color: #333;"
        >
          Hello
          {{name}},
        </p>
        <p
          style="font-size: 14px; line-height: 24px; margin: 24px 0; color: #333;"
        >
          Welcome back, please enter the following verification code when
          prompted:
        </p>
        <table
          align="center"
          width="100%"
          border="0"
          cellpadding="0"
          cellspacing="0"
          role="presentation"
          style="width: 100%"
        >
          <tbody align="center" style="width: 100%">
            <tr>
              <td>
                <p
                  style="font-size: 14px;line-height: 24px;margin: 0;color: #333;font-weight: bold;text-align: center;"
                >
                  Verification code
                </p>
                <p
                  style="font-size: 36px;line-height: 24px;margin: 10px 0;color: #333;font-weight: bold;text-align: center;"
                >
                  {{code}}
                </p>
                <p
                  style="font-size: 14px;line-height: 24px;margin: 0px;color: #333;text-align: center;"
                >
                  (This code is valid for 5 minutes)
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>